body{
    background-color: rgb(255, 255, 255);
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
}
main .uno h2 {
    margin-left: auto;
    margin-right: auto;
}
main .dos h2 {
    margin-left: auto;
    margin-right: auto;
}
.uno{
    background-color: rgb(163, 163, 163);
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: stretch;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
}
.dos{
    background-color: rgb(163, 163, 163);
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
}

.dos div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dos div .ingreso {
    margin-right: 1rem;
    width: auto;
}

.dos div .egreso {
    margin-left: 1rem;
    width: auto;
}

body main .uno #error {
    color: red;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}
body main .uno button {
    margin: 1em;
    width: 6rem;
    margin-right: auto;
    margin-left: auto;
}

body main .dos .par:nth-child(5){
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
body main .dos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
body main .dos div button {
    margin: 1em;
    width: 2rem;
}
#Resumen .resumenCuenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-left: 1rem;
    border-style: solid;
    padding-right: 1rem;
    background-color: #e7e5e5;
    border-radius: 0.5rem;
    width: 24rem;
    margin-bottom: 0.5rem;
}

#Resumen .resumenCuenta:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1rem;
    border-style: solid;
    padding-right: 1rem;
    background-color: #ff9100;
    border-radius: 0.5rem;
    width: 24rem;
    margin-bottom: 0.5rem;
}

#Resumen{
    display: flex;
    border-style: solid;
    width: 34rem;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.8rem;
}