body{
    background-color: rgb(255, 255, 255);
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
}
main .uno h2 {
    margin-left: auto;
    margin-right: auto;
}
main .dos h2 {
    margin-left: auto;
    margin-right: auto;
}
.uno{
    background-color: rgb(163, 163, 163);
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: stretch;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
}
.dos{
    background-color: rgb(163, 163, 163);
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-end;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
}
body main .uno #error {
    color: red;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}
body main .uno button {
    margin: 1em;
    width: 6rem;
    margin-right: auto;
    margin-left: auto;
}
.par {
    margin-right: 10rem;
}
body main .dos .par:nth-child(5){
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
body main .dos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
body main .dos div button {
    margin: 1em;
    width: 2rem;
}